


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #fafafa;
}

header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    height: 80px;
    width: 100%;
    margin-bottom: 40px;
}

#mainMenu {
    display: block;
    margin: 5px;
    width: 30px;
    
}

.iconMenu {
    display: block;
    background-color: black;
    width: 30px;
    height: 5px;
    margin: 5px;
}

#exitMenu {
    width: 30px;
    height: 30px;
    font-size: 50px;
    font-weight: bolder;
    margin: 20px;
    display: block;
}

#list {
    display: block;
    position: fixed;
    top: 0px;
    left: 100%;
    background-color: white;
    width: 70%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
    transition: all .2s ease;
    box-shadow: 0px 0px 10px #00000013;
}

ul #itensCategorias {
    display: block;
    overflow: hidden;
    height:0px;
    width: 0px;
}

li {
    height: 50px;
    list-style: none;
    font-size: 20px;
}

li a {
    display: block;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    
}

li a:hover, main article:hover {
    background-color: #f4f4f4;
    border-radius: 10px;
}

.search {
    display: flex;
    position: absolute;
    width: 90vw;
    top: 80px;
    background-color: white;
    align-items: center;
    justify-items: space-between;
    box-shadow: 0px 0px 6px #00000020;
}

.search input {
    width: 85%;
    border: 1px solid blue;
    height: 30px;
    border-radius: 10px;
    margin-left: 10px;
    padding: 3px 8px 3px 8px;
    font-size: 18px;
}

.search span {
    font-size: 40px;
}

main {
    padding-top: 0px;
}

section {
    display: grid;
}

article {
    display: block;
    background-color: #fff;
    min-width: none;
    max-width: 350px;
    height: 220px;
    border-radius: 10px;
    margin: 10px auto;
    padding: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 8px #00000013;
    
}

#coll {
    display: block;
    text-align: center ;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 5px;
}

img {
    display: block;
    width: 200px;
    height: 150px;
    margin: auto ;
    
}


#coll a {
    display: inline-block;
    font-size: 20px;
    margin: 3px;
    text-decoration: none;
    color: #0015FF;
}

aside {
    display: block;
    border-top: 1px solid black ;
}

aside div {
    display: none;
    margin: 10px;
}

#contatos {
    display: block;
}

aside a {
    display: block;
    color: #00000078;
    margin: 3px;
    text-decoration: none;
    
}